.telegrams-table {
  border-collapse: collapse;
  margin: 0px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
  overflow: hidden;

  .telegrams__thead {
    background-color: #ffb517;

    th {
      padding: 0.5rem;
      text-align: left;
    }
  }

  .telegrams__tbody {
    tr {
      border-bottom: 1px solid #dddddd;
    }

    tr:nth-child(even) {
      background-color: #f3f3f3;
    }

    tr:last-of-type {
      border-bottom: 2px solid #ffb517;
    }

    td {
      padding: 0.5rem;
      text-align: left;
    }

    tr:hover {
      background-color: lightgrey;
    }

    td:hover {
      font-weight: bold;
      color: #ffb517;
    }
  }
}
