* {
  box-sizing: border-box;
}

.toolbar {
  position: sticky;
  top: 60px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-top: none;
  font-family: arial, sans-serif;
  width: 100%;
}

.toolbar__inputs {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 6px;
}

.toolbar__inputs > div {
  box-sizing: border-box;
  margin: auto;
}

.toolbar__buttons {
}

input[type=date], input[type=time] {
  height: 100%;
  padding: 3px;
  border-radius:7px;
}

select {
  height: 100%;
  padding: 3px;
  border-radius:7px;
  border: 2px solid black;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius:7px;
}

.button:hover {
  color: black;
}